# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
ENV/

# Временные файлы
.DS_Store
.cache/
.pytest_cache/
*.bak
*.swp

# Медиа и статика
media/*
!media/.gitkeep
static/ 